.cc-caption.cc-caption-lg .cc-title {
    font-size: 28px;
}

.footer-copyright {
    font-size: 14px;
}

#footer.footer-simple {
    padding: 50px 0 50px 0;
    text-align: center;
}

#header.menu-align-center {
    text-align: center;
    margin-bottom: .5%;
}