<!DOCTYPE html>

<html lang="en">

<head>

	<!-- Title -->
	<title>##TITLE##</title>

	<!-- Meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<!-- Mobile Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Favicon -->
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/favicon.ico" type="image/x-icon">

	<!-- Google fonts (https://www.google.com/fonts) -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
	<!-- Global font -->

	<!-- Bootstrap CSS (http://getbootstrap.com) -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
		integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

	<!-- Font Icons CSS (https://fontawesome.com) -->
	<link rel="stylesheet" href="../../../assets/vendor/fontawesome/css/all.min.css">

	<!-- LightGallery (https://www.lightgalleryjs.com/) -->
	<link type="text/css" rel="stylesheet" href="../../../assets/vendor/lightgallery/css/lightgallery.css" />
	<link type="text/css" rel="stylesheet" href="../../../assets/vendor/lightgallery/css/lg-zoom.css" />
	<link type="text/css" rel="stylesheet" href="../../../assets/vendor/lightgallery/css/lg-thumbnail.css" />

	<!-- Template master CSS -->
	<link rel="stylesheet" href="../../../assets/css/helper.css">
	<link rel="stylesheet" href="../../../assets/css/theme.css">

	<!-- Template dark style CSS (just uncomment line below to enable dark style) -->
	<link rel="stylesheet" href="../../../assets/css/dark-style.css">

	<!-- Template round style CSS (just uncomment line below to enable round style) -->
	<link rel="stylesheet" href="../../../assets/css/round-style.css">

	<!-- CSS Overrides -->
	<link rel="stylesheet" href="../../../assets/css/custom.css">

</head>

<body id="body" class="animsition tt-boxed">
	<header id="header" class="menu-align-center">

		<div class="header-inner tt-wrap">
			<div id="logo">
				<!-- Normal Screens -->
				<a href="/" class="logo-dark"><img src="../../../assets/img/logo-dark.png" alt="logo"></a>
				<a href="/" class="logo-light"><img src="../../../assets/img/logo-light.png" alt="logo"></a>

				<!-- Small Screens -->
				<a href="/" class="logo-dark-m"><img src="../../../assets/img/logo-dark-m.png" alt="logo"></a>
				<a href="/" class="logo-light-m"><img src="../../../assets/img/logo-light-m.png" alt="logo"></a>
			</div>

			<!-- Start main menu -->
			<nav class="tt-main-menu">

				<!-- Begin mobile menu toggle button -->
				<div id="tt-m-menu-toggle-btn">
					<span></span>
				</div>
				<!-- End mobile menu toggle button -->

				<div class="tt-menu-collapse tt-submenu-dark">
					<ul class="tt-menu-nav">
						<li><a href="/">Home</a></li>
					</ul>
				</div>

			</nav>
			<!-- End main menu -->

		</div>
	</header>
	<!-- End header -->
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col col-md-8">
				<div class="gallery-container" id="gallery">

					##GALLERYITEMS##

				</div>
			</div>
		</div>
	</div>
	</section>

	<!-- Footer -->
	<section id="footer" class="footer-simple footer-dark">
		<div class="footer-inner tt-wrap">

			<!-- Footer copyright -->
			<div class="footer-copyright">
				<p>&copy; Cory Manson
					<script>new Date().getFullYear() > 2017 && document.write(new Date().getFullYear());</script>
				</p>
			</div>
			<!-- End footer copyright -->

		</div>

		<!-- Scroll to top button -->
		<a href="#body" class="scrolltotop sm-scroll" title="Scroll to top"><i class="fas fa-chevron-up"></i></a>

	</section>
	<!-- Footer section -->

	</div>
	<!-- End body content -->

	<!-- Lightgallery -->
	<script src="../../../assets/vendor/lightgallery/lightgallery.umd.js"></script>
	<script src="../../../assets/vendor/lightgallery/plugins/thumbnail/lg-thumbnail.umd.js"></script>
	<script src="../../../assets/vendor/lightgallery/plugins/zoom/lg-zoom.umd.js"></script>

	<script type="text/javascript">
		lightGallery(document.getElementById('gallery'), {
			plugins: [lgZoom, lgThumbnail],
			speed: 500
		});
	</script>

	<!-- Core JS -->
	<script src="../../../assets/vendor/jquery/jquery.min.js"></script> <!-- jquery JS (https://jquery.com) -->
	<!-- JavaScript Bundle with Popper -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
		crossorigin="anonymous"></script>
	<!-- bootstrap JS (http://getbootstrap.com) -->

	<!-- Theme master JS -->
	<script src="../../../assets/js/theme.js"></script>

</body>

</html>