<!DOCTYPE html>

<html lang="en">

<head>

	<!-- Title -->
	<title>Cory Manson Photography</title>

	<!-- Meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<!-- Mobile Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Favicon (http://www.favicon-generator.org/) -->
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	<link rel="icon" href="favicon.ico" type="image/x-icon">

	<!-- Google fonts (https://www.google.com/fonts) -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
	<!-- Global font -->

	<!-- Bootstrap CSS (http://getbootstrap.com) -->
	<link rel="stylesheet" href="assets/vendor/bootstrap/css/bootstrap.min.css">
	<!-- bootstrap CSS (http://getbootstrap.com) -->

	<!-- Libs and Plugins CSS -->
	<link rel="stylesheet" href="assets/vendor/animsition/css/animsition.min.css">
	<!-- Animsition CSS (http://git.blivesta.com/animsition/) -->
	<link rel="stylesheet" href="assets/vendor/fontawesome/css/fontawesome-all.min.css">
	<!-- Font Icons CSS (https://fontawesome.com) Free version! -->
	<link rel="stylesheet" href="assets/vendor/lightgallery/css/lightgallery.min.css">
	<!-- lightGallery CSS (http://sachinchoolur.github.io/lightGallery) -->
	<link rel="stylesheet" href="assets/vendor/owl-carousel/css/owl.carousel.min.css">
	<!-- Owl Carousel CSS (https://owlcarousel2.github.io/OwlCarousel2/) -->
	<link rel="stylesheet" href="assets/vendor/owl-carousel/css/owl.theme.default.min.css">
	<!-- Owl Carousel CSS (https://owlcarousel2.github.io/OwlCarousel2/) -->
	<link rel="stylesheet" href="assets/vendor/ytplayer/css/jquery.mb.YTPlayer.min.css">
	<!-- YTPlayer CSS (more info: https://github.com/pupunzi/jquery.mb.YTPlayer) -->

	<!-- Template master CSS -->
	<link rel="stylesheet" href="assets/css/helper.css">
	<link rel="stylesheet" href="assets/css/theme.css">

	<!-- Template dark style CSS (just uncomment line below to enable dark style) -->
	<link rel="stylesheet" href="assets/css/dark-style.css">

	<!-- Template round style CSS (just uncomment line below to enable round style) -->
	<link rel="stylesheet" href="assets/css/round-style.css">

</head>

<body id="body" class="animsition tt-boxed">

	<header id="header" class="menu-align-center">

		<!-- Begin header inner -->
		<div class="header-inner tt-wrap">
			<!-- add/remove class "tt-wrap" to enable/disable element boxed layout (class "tt-boxed" is required in <body> tag! ) -->

			<!-- Begin logo 
				================ -->
			<div id="logo">
				<a href="index.html" class="logo-dark"><img src="assets/img/logo-dark.png" alt="logo"></a>
				<a href="index.html" class="logo-light"><img src="assets/img/logo-light.png" alt="logo"></a>

				<!-- for small screens -->
				<a href="index.html" class="logo-dark-m"><img src="assets/img/logo-dark-m.png" alt="logo"></a>
				<a href="index.html" class="logo-light-m"><img src="assets/img/logo-light-m.png" alt="logo"></a>
			</div>
			<!-- End logo -->

			<!-- ====================
				//// Begin main menu ////
				===================== -->
			<nav class="tt-main-menu">

				<!-- Begin mobile menu toggle button -->
				<div id="tt-m-menu-toggle-btn">
					<span></span>
				</div>
				<!-- End mobile menu toggle button -->

				<!-- Collect the nav links for toggling 
					========================================
					* Use class "tt-submenu-dark" to enable submenu dark style.
					-->
				<div class="tt-menu-collapse tt-submenu-dark">
					<ul class="tt-menu-nav">

						<!-- Begin submenu (submenu master)
							==================================== -->
						<li class="active"><a href="">Home</a></li>
						<li><a href="#contact">Contact</a></li>

					</ul> <!-- /.tt-menu-nav -->
				</div> <!-- /.tt-menu-collapse -->

			</nav>
			<!-- End main menu -->

		</div>
		<!-- End header inner -->

	</header>
	<!-- End header -->


	<!-- *************************************
		*********** Begin body content *********** 
		************************************** -->
	<div id="body-content">

		<!-- =================================
			///// Begin gallery list section /////
			================================== -->
		<section id="gallery-list-section">
			<div class="isotope-wrap tt-wrap">

				<div class="isotope col-3 gutter-3">

					<div class="isotope-items-wrap gli-colored gli-alter-1">

						<!-- Grid sizer (do not remove!!!) -->
						<div class="grid-sizer"></div>

						##GALLERIES##

					</div>

				</div>

			</div>
		</section>
		<!-- End gallery list section -->


		<!-- ===========================================
			///// Begin footer section (footer simple) /////
			================================================
			* Use class "footer-dark" to enable dark footer.
			* Use class "no-margin-top" if needed. 
			-->
		<section id="footer" class="footer-simple footer-dark">
			<div class="footer-inner tt-wrap">

				<!-- Begin footer logo -->
				<div id="footer-logo">
					<a href="index.html" class="logo-dark"><img src="assets/img/logo-dark.png" alt="logo"></a>
					<a href="index.html" class="logo-light"><img src="assets/img/logo-light.png" alt="logo"></a>

					<!-- for small screens -->
					<a href="index.html" class="logo-dark-m"><img src="assets/img/logo-dark-m.png" alt="logo"></a>
					<a href="index.html" class="logo-light-m"><img src="assets/img/logo-light-m.png" alt="logo"></a>
				</div>
				<!-- End footer logo -->

				<!-- Begin social buttons -->
				<div class="social-buttons">
					<ul>
						<li><a href="https://www.facebook.com/CoryMansonPhotography"
								class="btn btn-social-min btn-default btn-rounded-full" title="Follow me on Facebook"
								target="_blank"><i class="fab fa-facebook-f"></i></a></li>
						<li><a href="contact.html" class="btn btn-social-min btn-default btn-rounded-full"
								title="Drop me a line" target="_blank"><i class="fas fa-envelope"></i></a></li>
					</ul>
				</div>
				<!-- End social buttons -->

				<!-- Begin footer copyright -->
				<div class="footer-copyright">
					<p>&copy; Cory Manson
						<script>new Date().getFullYear() > 2017 && document.write(new Date().getFullYear());</script>
					</p>
				</div>
				<!-- End footer copyright -->

			</div> <!-- /.footer-inner -->

			<!-- Scroll to top button -->
			<a href="#body" class="scrolltotop sm-scroll" title="Scroll to top"><i class="fas fa-chevron-up"></i></a>

		</section>
		<!-- End footer section -->

	</div>
	<!-- End body content -->

	<!-- ====================
		///// Scripts below /////
		===================== -->

	<!-- Core JS -->
	<script src="assets/vendor/jquery/jquery.min.js"></script> <!-- jquery JS (https://jquery.com) -->
	<script src="assets/vendor/bootstrap/js/bootstrap.min.js"></script> <!-- bootstrap JS (http://getbootstrap.com) -->

	<!-- Libs and Plugins JS -->
	<script src="assets/vendor/animsition/js/animsition.min.js"></script>
	<!-- Animsition JS (http://git.blivesta.com/animsition/) -->
	<script src="assets/vendor/jquery.easing.min.js"></script>
	<!-- Easing JS (http://gsgd.co.uk/sandbox/jquery/easing/) -->
	<script src="assets/vendor/isotope.pkgd.min.js"></script> <!-- Isotope JS (http://isotope.metafizzy.co) -->
	<script src="assets/vendor/imagesloaded.pkgd.min.js"></script>
	<!-- ImagesLoaded JS (https://github.com/desandro/imagesloaded) -->
	<script src="assets/vendor/owl-carousel/js/owl.carousel.min.js"></script>
	<!-- Owl Carousel JS (https://owlcarousel2.github.io/OwlCarousel2/) -->
	<script src="assets/vendor/jquery.mousewheel.min.js"></script>
	<!-- A jQuery plugin that adds cross browser mouse wheel support (https://github.com/jquery/jquery-mousewheel) -->
	<script src="assets/vendor/ytplayer/js/jquery.mb.YTPlayer.min.js"></script>
	<!-- YTPlayer JS (more info: https://github.com/pupunzi/jquery.mb.YTPlayer) -->

	<script src="assets/vendor/lightgallery/js/lightgallery-all.min.js"></script>
	<!-- lightGallery Plugins JS (http://sachinchoolur.github.io/lightGallery) -->

	<!-- Theme master JS -->
	<script src="assets/js/theme.js"></script>


</body>

</html>